
<p><%= $game.player1.name %> vs. <%= $game.player2.name %></p>
<p><%= $game.player1.name %>: <%= $game.player1.hit_points %>HP</p>
<p><%= $game.player2.name %>: <%= $game.player2.hit_points %>HP</p>

<p><%= $game.current_player.name %>'s turn</p>
<form id="name_entry" action="/attack" method="GET">
  <input type="submit" value="attack" id ="go"/>
</form>
